.footer {
  display: flex;
  background: #000;
  height: 40vh;
  padding-top: 30px;
  color: #fff;
}
.maxWfooter {
  padding-top: 5%;
  width: 100%;
  display: flex;
  padding-right: 10%;
  position: relative;
  justify-content: space-between;
  font-size: small;
}
.rightFlex {
  width: 100%;
}
.rightFlexp {
  line-height: 1.5;
  width: 205px;
}

.logo {
  width: 60px;
  padding-bottom: 10px;
  z-index: 50;
}

.rightFlexNav {
  display: flex;
  gap: 35px;
}
.leftFlex {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.leftFlexAddres {
  padding-top: 15px;
}

@media screen and (max-width: 900px) {
  .rightFlexNav {
    gap: 1.5vw;
  }

  .rightFlexp {
    padding: 15px 0;
  }

  .logo {
    width: 60px;
    position: absolute;
    right: 11%;
    top: 0%;
  }

  .maxWfooter {
    gap: 10%;
  }
}

@media screen and (max-width: 500px) {
  .rightFlexp {
    padding: 15px 0 0 0;
  }
  .footer {
    height: 350px;
  }
  .maxWfooter{

    flex-direction: column;
  }

  .rightFlexNav {
    flex-direction: column;
  }
  .logo {
    width: 60px;
    position: absolute;
    right: 11%;
    top: -5%;
  }
  .rightFlexp {
    width: 70%;
    position: relative;
    padding: 50px 0 0 0;
  }
  .mobileLayout{
padding: 0  0 45px 0;
  }
  .leftFlex {
    margin-top: -25px;
  }
  .leftFlexAddres{
    padding-top: 40px;
  }
}
