.footer {
  display: flex;
  background: #000;
  height: 40vh;
  padding-top: 30px;
  color: #fff;
}
.maxWfooter {
  max-width: 90vw;
  display: flex;
  align-items: center;
  padding-right: 10%;
  position: relative;

  font-size: small;
  gap: 200px;
}
.rightFlexp {
  width: 60%;
  position: relative;
  padding-bottom: 30px;
}
.navLinks {
  width: max-content;
  cursor: pointer;
}
.logo {
  width: 70px;
  position: absolute;
  right: 12%;
  top: 0%;
  z-index: 50;
}

.rightFlexNav {
  display: flex;
  gap: 35px;
}
.leftFlex {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.leftFlexAddres {
  padding-top: 15px;
}

@media screen and (max-width: 900px) {
  .rightFlexNav {
    gap: 1.5vw;
  }

  .rightFlexp {
    padding: 15px 0;
  }

  .logo {
    width: 60px;
    position: absolute;
    right: 11%;
    top: 0%;
  }

  .maxWfooter {
    gap: 10%;
  }
}

@media screen and (max-width: 500px) {
  .rightFlexp {
    padding: 15px 0;
  }
  .footer {
    height: 300px;
  }
  .rightFlexNav {
    flex-direction: column;
  }
  .logo {
    width: 60px;
    position: absolute;
    right: 11%;
    top: -5%;
  }
  .rightFlexp {
    width: 100%;
    position: relative;
    padding: 50px 0 30px 0;
  }

  .leftFlex {
    margin-top: -25px;
  }
}
