.container {
  max-width: 80vw;
  margin: 0 auto;
}
.flexContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;

  
}

.titleContainer h1 {
  padding: 60px 0 60px 0;
  position: relative;
}
.titleContainer h1::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background: #be9e79;
  bottom: 30%;
  right: 0;
}

.flexCol {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
  padding-bottom: 30px;
}
.flexCol h3 {
  font-size: medium;
}
.flexCol p {
  font-size: small;
  color: #747474;
}
.imgSize {
  width: 20%;
}
@media screen and (max-width: 600px) {
  .flexContainer {
    gap: 6%;
  }
  .flexCol {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 47%;
    padding-bottom: 30px;
  }
  .imgSize {
    width: 30%;
  }
  .flexCol h3 {
    word-break: keep-all;
    font-size: medium;
  }
  .flexCol p {
    font-size:small;
   }
}
